{{define "footer"}}
<footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>CV Craft</strong> by <a href="#">Your Company</a>. The source code is licensed
                <a href="#">MIT</a>.
            </p>
        </div>
    </footer>
{{end}}